.popup__submit-button {
  width: 100%;
  height: 46px;
  border: none;
  background-color: hsla(0, 0%, 0%, 1);
  margin: 48px 0 0;
  padding: 0;
  color: hsla(0, 0%, 100%, 1);
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}

.popup__submit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .popup__submit-button {
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}