.popup__input {
  color: hsla(0, 0%, 0%, 1);
  padding: 0 0 13px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  border-bottom: 1px solid hsla(0, 0%, 0%, .2);
  box-sizing: border-box;
}